<!doctype html>
<html>
<head>
{% block head %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <script src="static/bootstrap/js/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  {% endblock %}
<title>{% block title %}{% endblock %} - Spellchecker</title>
</head>
<body>


{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <span>SpellChecker</span>
    </div>
      <ul class="nav navbar-nav">
        {% if g.user %}
          <li><a href="#">{{ g.user['username'] }}</li></a>
              <!-- <li><a href="{{ url_for('spell_check.logout') }}">Log Out</a></li> -->
        {% else %}
          <li><a href="{{ url_for('login.register') }}">Register</a></li>
          <li class="active"><a href="{{ url_for('login.login') }}">Log In</a></li>
        {% endif %}
      </ul>
  </div>
</nav>
{% endblock %}
{% block content %}{% endblock %}