{% extends 'base.html' %}
{% block title %}Spell Checker{% endblock %}
{% block content %}
<div class="container">
    <h2>History of queries</h2>
    <br/>
    {% if g.user['uname'] == 'admin' %}
    <form method="post" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="userid">Userid Login History:</label>
            <input class="form-control vresize" name="userid" id="userid" required ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Get User history</button>
    </form>
    {% endif %}
    <span id="numqueries">Number of queries made : {{list|length}}</span>
    <table>
        <tr>
            <th>Query ID</th>
            <th>Username</th>
            <th>Query</th>
            <th>Query Result</th>
        </tr>
        {% for query in list %}
        <tr>
            <td id="query{{query.queryid}}">
                <a href="/history/query{{query.queryid}}">{{query.queryid}}</a>
            </td>
            <td id="username">{{query.username}}</td>
            <td id="querytext">{{query.querytext}}</td>
            <td id="queryresults">{{query.queryresults}}</td>
        </tr>
        {% endfor %}
    </table>
    
</div>
{% endblock %}