{% extends 'base.html' %}
{% block title %}Log In{% endblock %} 
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Spellchecker tool {% if g.user %}, {{g.user['uname']}}{% endif %}!</h1>
  {% if g.user %}
    <form method="post" action="/spell_check">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="inputtext">Text:</label>
            <textarea class="form-control vresize" name="inputtext" id="inputtext" required ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Spell Check</button>
    </form>
    {% else %}
      <p>Please <a href="/login">login</a> to use this webapp. <a href="/register">Register</a> if you don't have an account</p>
    {% endif %}
</div>
  </body>
</html>
{% endblock %}